*.pyc
__pycache__/
.idea/
.vscode/
*.log
sessions/
.DS_Store
scratch/
*.conf
local2Do.md
resources/
resources/static/description/
resources/static/img/
resources/static/img/icon.png
resources/static/img/dashboard_icon.png
resources/static/img/icon.png
resources/static/img/dashboard_icon.png
resources/static/img/icon.png
resources/static/img/dashboard_icon.pngwatergile_core/
waf_preso/*
*.Identifier*

# Ignorer tout sauf les fichiers qui commencent par waf_*
*
!waf_*

