<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menu Principal -->
    <menuitem id="menu_waf_preso_root"
              name="Pre-SO"
              web_icon="waf_preso,static/description/icon.png"
              sequence="20"/>

    <!-- Sous-menus de premier niveau -->
    <menuitem id="menu_waf_operations"
              name="Opérations"
              parent="menu_waf_preso_root"
              sequence="10"/>

    <menuitem id="menu_waf_partners"
              name="Partenaires"
              parent="menu_waf_preso_root"
              sequence="20"/>

    <menuitem id="menu_waf_reporting"
              name="Rapports"
              parent="menu_waf_preso_root"
              sequence="50"/>

    <menuitem id="menu_waf_config"
              name="Configuration"
              parent="menu_waf_preso_root"
              groups="waf_preso.group_waf_preso_manager"
              sequence="100"/>
</odoo>