.hero-section {
    min-height: 100vh;
    background-image: url('/waf_wo4/static/src/img/hero/hero-bg-1.jpg');
    background-size: cover;
    background-position: center;

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        color: #fff;
    }

    h2 {
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 2rem;
    }
}