// Variables et configurations globales
$primary: #007bff;
$secondary: #6c757d;

// Styles globaux
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
